<div th:replace="~{layout::layout(~{::content})}">
  <div th:fragment="content" class="wrapper">
    <div class="container">
      <div class="cards">

          <div class="catalog_card">
              <a href="catalog/coins-rsfsr"> <img class="card_img" th:src="@{/img/catalog/first.png}" alt=""></a>
              <h3 class="card_title">Монети РСФСР</h3>
              <p class="card_period">1921-1923</p>
          </div>
          <div class="catalog_card">
              <a href="catalog/coins-first"><img class="card_img" th:src="@{/img/catalog/second.png}" alt="second"></a>
              <h3 class="card_title">Монети РСФСР</h3>
              <p class="card_period">1921-1923</p>
          </div>
          <div class="catalog_card">
            <a href="catalog/coins-second"><img class="card_img" th:src="@{/img/catalog/third.png}" alt="second"></a>
            <h3 class="card_title">Монеты СССР</h3>
            <p class="card_period">1924-1931</p>
          </div>
          <div class="catalog_card">
            <a href="catalog/coins-third"><img class="card_img"th:src="@{/img/catalog/fourth.png}" alt="fourth"></a>
            <h3 class="card_title">Монеты CCCР</h3>
            <p class="card_period">1961-1991</p>
          </div>
          <div class="catalog_card">
            <img class="card_img" th:src="@{/img/catalog/ubiley.png}" alt="ubiley">
            <h3 class="card_title">Юбилейные монети CCCР</h3>
            <p class="card_period">1965-1991</p>
          </div>
          <div class="catalog_card">
            <img class="card_img" th:src="@{/img/catalog/mestniy.png}" alt="locale coins">
            <h3 class="card_title">Местные выпуски</h3>
          </div>
          <div class="catalog_card">
            <img class="card_img" th:src="@{/img/catalog/probniy.png}" alt="probniie">
            <h3 class="card_title">Пробные монеты СССР</h3>
          </div>

      </div>
    </div>
  </div>
</div>
