<div th:replace="~{layout::layout(~{::content})}">
    <div th:fragment="content" class="wrapper">
        <div class="container">
            <div class="coins">
                <div class="coin">
                    <a href="#"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}" alt=""></a>
                    <h3 class="coin_title">Монети 1921 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1922 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1923 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1924 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1925 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1927 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1929 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1932 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1933 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1936 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1937 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1938 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1939 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1941 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1947 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1951 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/50kop22.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1952 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1953 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1955 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1956 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1958 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1959 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Монети 1961 года</h3>
                </div>
                <div class="coin">
                    <a href="coins-rsfsr.html"> <img class="card_img" th:src="@{/img/catalog/coins/probniy/1rub21.png}"
                                                     alt=""></a>
                    <h3 class="coin_title">Октябрь-50</h3>
                </div>

            </div>
        </div>
    </div>
</div>
