<div th:replace="~{layout::layout(~{::content})}">
  <div th:fragment="content" class="wrapper">
    <div class="container">
      <div class="coins">
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/locale/shpiz46.png}" alt="1924 year">
          <h3 class="coin_title">Шпиценберг 1946 года</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/locale/shpiz93.png}" alt="1925 year">
          <h3 class="coin_title">Шпиценберг 1946 года</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img"  th:src="@{/img/catalog/coins/locale/armavir.png}" alt="1925 year">
          <h3 class="coin_title">Армавир</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img"  th:src="@{/img/catalog/coins/locale/tuva.png}" alt="1925 year">
          <h3 class="coin_title">Тувинская республика</h3>
          <p class="coin_qnt">0/0</p>
        </div>

      </div>
    </div>
  </div>
</div>
