<div th:replace="~{layout::layout(~{::content})}">
  <div th:fragment="content" class="wrapper">
    <div class="container">
      <div class="coins">
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1961.png}" alt="1961">
              <h3 class="coin_title">Монети 1961 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1962.png}" alt="1961">
              <h3 class="coin_title">Монети 1962 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1963.png}" alt="1961">
              <h3 class="coin_title">Монети 1963 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1964.png}" alt="1961">
              <h3 class="coin_title">Монети 1964 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1965.png}" alt="1961">
              <h3 class="coin_title">Монети 1965 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1966.png}" alt="1961">
              <h3 class="coin_title">Монети 1966 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1967.png}" alt="1961">
              <h3 class="coin_title">Монети 1967 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1968.png}" alt="1961">
              <h3 class="coin_title">Монети 1968 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1969.png}" alt="1961">
              <h3 class="coin_title">Монети 1969 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1970.png}" alt="1961">
              <h3 class="coin_title">Монети 1970 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1971.png}" alt="1961">
              <h3 class="coin_title">Монети 1971 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1972.png}" alt="1961">
              <h3 class="coin_title">Монети 1972 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1973.png}" alt="1961">
              <h3 class="coin_title">Монети 1973 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1974.png}" alt="1961">
              <h3 class="coin_title">Монети 1974 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1975.png}" alt="1961">
              <h3 class="coin_title">Монети 1975 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1976.png}" alt="1961">
              <h3 class="coin_title">Монети 1976 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1977.png}" alt="1961">
              <h3 class="coin_title">Монети 1977 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1978.png}" alt="1961">
              <h3 class="coin_title">Монети 1978 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1979.png}" alt="1961">
              <h3 class="coin_title">Монети 1979 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1980.png}" alt="1961">
              <h3 class="coin_title">Монети 1980 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1981.png}" alt="1961">
              <h3 class="coin_title">Монети 1981 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1982.png}" alt="1961">
              <h3 class="coin_title">Монети 1982 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1983.png}" alt="1961">
              <h3 class="coin_title">Монети 1983 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1984.png}" alt="1961">
              <h3 class="coin_title">Монети 1984 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1985.png}" alt="1961">
              <h3 class="coin_title">Монети 1985 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1986.png}" alt="1961">
              <h3 class="coin_title">Монети 1986 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1987.png}" alt="1961">
              <h3 class="coin_title">Монети 1987 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1988.png}" alt="1961">
              <h3 class="coin_title">Монети 1988 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1989.png}" alt="1961">
              <h3 class="coin_title">Монети 1989 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1990.png}" alt="1961">
              <h3 class="coin_title">Монети 1990 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/third/1991.png}" alt="1961">
              <h3 class="coin_title">Монети 1991 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>

      </div>
    </div>
  </div>
</div>
