<div th:replace="~{layout::layout(~{::content})}">
  <div th:fragment="content" class="wrapper">
    <div class="container">
      <div class="coins">
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/first/1924.png}" alt="">
              <h3 class="coin_title">Монети 1924 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/first/1925.png}" alt="">
              <h3 class="coin_title">Монети 1925 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/first/1926.png}" alt="">
              <h3 class="coin_title">Монети 1926 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/first/1927.png}" alt="">
              <h3 class="coin_title">Монети 1927 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/first/1928.png}" alt="">
              <h3 class="coin_title">Монети 1928 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/first/1929.png}" alt="">
              <h3 class="coin_title">Монети 1929 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/first/1930.png}" alt="">
              <h3 class="coin_title">Монети 1930 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/first/1931.png}" alt="">
              <h3 class="coin_title">Монети 1931 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
      </div>
    </div>
  </div>
</div>
