<div th:replace="~{layout::layout(~{::content})}">
  <div th:fragment="content" class="wrapper">
    <div class="container">
      <div class="coins">
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/rsfsr/1921.png}" alt="">
              <h3 class="coin_title">Монети 1921 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/rsfsr/1922.png}" alt="">
              <h3 class="coin_title">Монети 1921 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
          <div class="coin">
              <img class="coin_img" th:src="@{/img/catalog/coins/rsfsr/1923.png}" alt="">
              <h3 class="coin_title">Монети 1921 года</h3>
              <p class="coin_qnt">0/0</p>
          </div>
      </div>
    </div>
  </div>
</div>
