<div th:replace="~{layout::layout(~{::content})}">
  <div th:fragment="content" class="wrapper">
    <div class="container">
      <div class="coins">
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/ubiley/oct50.png}" alt="1924 year">
          <h3 class="coin_title">Октябрь-50</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/ubiley/olimp.png}" alt="1925 year">
          <h3 class="coin_title">XXII летние Олимпийские игры 1980</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/ubiley/eve.png}" alt="1925 year">
          <h3 class="coin_title">События, Юбилеи</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/ubiley/lichnost.png}" alt="1925 year">
          <h3 class="coin_title">Личности</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/ubiley/sobor.png}" alt="1925 year">
          <h3 class="coin_title">Соборы и Памятники (5руб)</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/ubiley/barca.png}" alt="1925 year">
          <h3 class="coin_title">XXV Олимпийские Игры, Барселона-1992</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/ubiley/novo.png}" alt="1925 year">
          <h3 class="coin_title">Новоделы</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/ubiley/proof.png}" alt="1925 year">
          <h3 class="coin_title">Proof</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/ubiley/error.png}" alt="1925 year">
          <h3 class="coin_title">Ошибки, разновидности</h3>
          <p class="coin_qnt">0/0</p>
        </div>
        <div class="coin">
          <img class="coin_img" th:src="@{/img/catalog/coins/ubiley/bu.jpg}" alt="1925 year">
          <h3 class="coin_title">Банковская упаковка</h3>
          <p class="coin_qnt">0/0</p>
        </div>
      </div>
    </div>
  </div>
</div>
