<div th:fragment="coin_desc" class="wrapper">
  <div class="container">
    <div class="coin_desc">
      <table>
        <tr>
          <td colspan="2"><img src="../assets/img/coins/coin_desc/1kop/1kop61.png" alt=""></td>
        </tr>
        <tr>
          <th>Номинал</th>
          <td>1 копейка</td>
        </tr>
        <tr>
          <th>Год</th>
          <td>1961</td>
        </tr>
        <tr>
          <th>Сплав</th>
          <td>латунь</td>
        </tr>
        <tr>
          <th>Вес (гр)</th>
          <td>1</td>
        </tr>
        <tr>
          <th>Диаметр (мм)</th>
          <td>15</td>
        </tr>
        <tr>
          <th>Толщина (мм)</th>
          <td>0.9</td>
        </tr>
        <tr>
          <th>Гурт</th>
          <td>ребристый</td>
        </tr>
        <tr>
          <th>Цена, $</th>
          <td>1</td>
        </tr>
      </table>
    </div>
  </div>
</div>