<header th:fragment="header" class="header">
  <div class="container">
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__list-item">
          <a href="catalog.html" class="menu__link">Каталог</a>
        </li>
        <li class="menu__list-item">
          <a href="collection.html" class="menu__link">Колекція</a>
        </li>
        <li class="menu__list-item">
          <a href="profile.html" class="menu__link">Профіль</a>
        </li>
      </ul>
      <a href="../home/index.html" class="logo">
        <img th:src="@{/img/logo-trans.png}" alt="logo">
      </a>
      <ul class="menu__list">
        <li class="menu__list-item">
          <a href="info.html" class="menu__link">Інфо</a>
        </li>
        <li class="menu__list-item">
          <a href="search.html" class="menu__link">Пошук</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__link">Вхід</a>
        </li>
      </ul>
    </nav>
  </div>
</header>