<div>
    <div th:replace="~{layout::layout(~{::content})}">
        <div th:fragment="content" class="wrapper_login">
            <div class="loginform">
                <input type="checkbox" id="chk" aria-hidden="true">

                <div class="signup">
                    <form action="@{/registration}" th:object="${user}" th:method="POST" enctype="utf-8">
                        <div class="label input">
                            <label for="chk" aria-hidden="true" ><a th:href="@{/registration}">Зареєструватись</a></label>
                            <input type="text" name="username" placeholder="Ваше ім'я">
                            <input type="email" name="email" placeholder="Ел. пошта">
                            <input type="password" name="password" placeholder="Пароль">
                            <input type="password" name="passwordConfirmation" placeholder="Підтвердити пароль">
                        </div>
                        <button type="submit" th:text="#{signup}">Зареєструватись</button>
                    </form>
                </div>
                <div class="login">
                    <form th:action="@{~/login}" th:method="POST" enctype="utf-8">
                        <div class="label input">
                            <label for="chk" aria-hidden="true">Увійти</label>
                            <input type="email" name="username" placeholder="Ел. пошта">
                            <input type="password" name="password" placeholder="Пароль">
                        </div>
                        <button type="submit" th:text="#{signInn}">Увійти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

