<!DOCTYPE html>
<html lang="en" th:fragment="layout(content)">
<head>
  <meta charset="UTF-8">
  <title>Numis</title>
      <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">

  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
</head>
<body>
  <div class="wrapper">
      <header th:replace="~{fragment/header}"></header>
      <div th:replace="${content}"></div>
      <footer th:replace="~{fragment/footer}"></footer>
  </div>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/swiper-bundle.min.js}"></script>
  <script th:src="@{/js/swiper.js}"></script>

</body>
</html>