<div th:replace="~{layout::layout(~{::content})}">
    <div th:fragment="content" class="wrapper">
        <div class="policy">
            <div class="container">
                <h2 class="policy_title-main">Політика конфіденційності</h2>
                <h5 class="policy_subtitle">Ласкаво просимо на сайт Numis</h5>
                <p class="policy__text">
                    Місія нашого сайту - об'єднати нумізматів по всьому світу. Ми прагнимо зробити колекціонування
                    монет не
                    просто зручним, але і доступним кожному.
                    Кожний нумізмат зможе знайти монету в каталозі, перевірити її вид, штамп, а також дізнатись її
                    ціну.
                    Ваша колекція тепер у Вас завжди під рукою.
                    Будь ласка, витратьте кілька хвилин на те, щоб ознайомитись та прийняти Політику конфідеційності
                    (далі
                    -"Політика"), дізнатись про те, яку інформація ми збираємо, які дії здійснються з нею та чому.
                    Ми збираємо лише ту інформацію, що дозволяє нам надавати Вам наші Послуги на найвищому рівні.Це
                    також
                    допомагає нам захищати Numis від шахрайських дій і спаму та дає нам унікальне розуміння того,
                    які
                    додаткові
                    Послуги можуть бути корисними для досягнення цілей, викладених у цій Політиці нижче.
                </p>
                <h3 class="policy__title">Сфера застосування та згода</h3>
                <p class="policy__text">
                    Перед тим, як Ви почнете ділитися своїми колекціями, важливо, щоб Ви розуміли, що використовуючи
                    наші
                    Сервіси, Ви надаєте нам згоду на збирання, обробку, використання, розкриття та зберігання Ваших
                    персональних
                    даних та іншої інформації у межах цієї Політики. Ви можете бути впевнені, що ми
                    використовуватимемо Вашу
                    інформацію виключно таким чином, як зазначено у цій Політиці. Користуючись Сервісами, Ви також
                    погоджуєтеся
                    з нашими <a style="border-bottom: 1px solid gray;" th:href="rules">Правилами</a>, що є
                    обов'язковими
                    для
                    всіх користувачів. Просимо ознайомитися
                    та прийняти наші Правила
                    користування, якщо Ви бажаєте користуватися Послугами Numis.
                </p>

                <h3 class="policy__title">I. Загальні положення</h3>
                <p class="policy__text">
                    Ця Політика конфіденційності встановлює порядок отримання, зберігання, обробки, використання та
                    розкриття персональних даних користувачів Numis. Персональні дані, які користувач вказує при
                    заповненні реєстраційних форм на Numis, а також при будь-якій дії в процесі користування
                    Сервісами та
                    Послугами Numis, отримує та обробляє власник персональних даних ФОП Іванов І.І. на термін і в
                    цілях,
                    передбачених цією Політикою.
                </p>
                <p class="policy__text">
                    Для того, щоб зареєструватися на сайті та користуватися Numis, користувач повинен уважно
                    ознайомитися
                    з Правилами Політики конфіденційності, надавши свою повну згоду з її умовами шляхом
                    натискання
                    кнопки «Я підтверджую, що ознайомився (ознайомилась) з <a style="border-bottom: 1px solid gray;"
                                                                              th:href="rules">Правилами</a> Numis, Політикою
                    конфіденційності,
                    Правилами поведінки, приймаю їх і зобов'язуюся виконувати».
                </p>
                <p class="policy__text">
                    Користувач не має права використовувати Numis, якщо він не згоден з Правилами та умовами цієї
                    Політики.
                </p>

                <h3 class="policy__title">II. Які особисті дані можуть збиратися</h3>
                <p class="policy__text">
                    Ми збираємо особисту інформацію, коли Ви реєструєтеся на сайті, заходите у свій акаунт,
                    здійснюєте
                    дії на сайті або іншу дію та коли виходите з акаунта. Інформація включає Ваші ПІБ, контактні
                    телефони,
                    адреси електронної пошти. Також ми можемо збирати наступну інформацію:
                </p>
                <ul class="policy__list">
                    <li class="policy__list-item">Файли Cookies для того, щоб визначити браузер користувача та
                        надати залежні від цього
                        сервіси,
                        наприклад, зберігання даних у кошику між відвідуваннями.</li>
                    <li class="policy__list-item">IP-адресу користувача для того, щоб показувати рекламу та вести
                        журнал активності
                        користувача.</li>
                    <li class="policy__list-item">Інформацію про помилки у роботі ресурсу, ініційовані
                        користувачем.</li>
                </ul>

                <h3 class="policy__title">III. Яка інформація про Вас буде використовуватися. Мета використання</h3>
                <p class="policy__text">
                    Ми прагнемо створити зручне середовище, пристосоване до потреб кожного користувача. Ми
                    використовуємо
                    всю інформацію, якою володіємо, для надання та підтримки наших сервісів, а саме:
                </p>
                <ul class="policy__list">
                    <li class="policy__list-item">Запам’ятовувати інформацію, щоб Вам не довелося заново вводити її
                        під час поточного або
                        наступного
                        відвідування сайту Numis;</li>
                    <li class="policy__list-item">Забезпечувати, підвищувати, тестувати та відстежувати ефективність
                        сервісу;</li>
                    <li class="policy__list-item">Розробляти та тестувати нові продукти та функції;</li>
                    <li class="policy__list-item">Відстежувати метрики, наприклад, загальну кількість відвідувачів
                        та трафік;</li>
                    <li class="policy__list-item">Діагностувати або виправляти технічні несправності;</li>
                    <li class="policy__list-item">Використовувати у маркетингових цілях, створювати унікальні
                        пропозиції для кожного
                        користувача;</li>
                </ul>

                <h3 class="policy__title">IV. Умови надання доступу до бази даних</h3>
                <p class="policy__text">
                    Ми не передаємо персональні дані третім особам, за виключенням необхідних даних для виконання
                    запиту,
                    наприклад, під час оплати послуг Numis або у цілях маркетингу, реклами тощо, а також випадків,
                    передбачених чинним законодавством або положеннями цієї Політики, які вказані нижче. Користувачі
                    зобов’язуються не розголошувати та не передавати третім особам свої персональні дані, такі як
                    логін та
                    пароль, а також інформацію інших користувачів, які стали відомі у результаті укладання угод або
                    інших
                    дій на сайтах Numis. Розкриття персональних даних без згоди Користувача або уповноваженої ним
                    особи
                    допускається у випадках, визначених законом, та виключно в інтересах національної безпеки,
                    економічного
                    добробуту та прав людини, зокрема, але не виключно:
                </p>
                <ul class="policy__list">
                    <li class="policy__list-item">За обґрунтованими запитами державних органів, що мають право
                        витребувати та отримувати такі
                        дані;
                    </li>
                    <li class="policy__list-item">У випадку, якщо, на думку ФОП Іванов І.І., Користувач порушує
                        умови Правил та/або інших
                        договорів
                        та угод між Користувачем та Адміністрацією Numis.</li>
                </ul>

                <h3 class="policy__title">V. Захист інформації, що збирається</h3>
                <p class="policy__text">
                    Ми знаємо, що безпека важлива для наших користувачів, тoму дбаємо про зберігання Вашої
                    інформації. Проте
                    нам також потрібна Ваша допомога та відповідальне ставлення до Ваших персональних даних: Ви
                    несете
                    відповідальність за точність наданої Вами особистої інформації, а також за те, що Ваш пароль та
                    реєстраційні дані зберігаються у безпечному місці, захищені від доступу третіх осіб та їхніх
                    несанкціонованих дій. Ми вживаємо всіх розумних запобіжних заходів для захисту конфіденційних
                    даних. Усі
                    зібрані нами дані зберігаються на одному або декількох захищених серверах баз даних та не можуть
                    бути
                    доступні поза межами нашої корпоративної мережі. Лише ті співробітники Numis, чиє виконання
                    робочих
                    функцій потребує доступу до особистої інформації користувачів, мають доступ до такої інформації.
                    Усі
                    співробітники, які мають доступ до інформації про користувачів, підписали угоду про
                    нерозголошення
                    інформацію про користувачів третім особам.
                </p>

                <h3 class="policy__title">VI. Як змінити або видалити цю інформацію</h3>
                <p class="policy__text">
                    Користувачі у будь-який момент часу можуть змінити/видалити особисту інформацію: для цього
                    достатньо
                    написати запит до Адміністрації Numis. Робота деяких можливостей Numis, для яких необхідна
                    наявність
                    інформації про Користувача, може бути призупинена з моменту зміни/видалення інформації.
                </p>
                <ul class="policy__list">
                    <li class="policy__list-item">Персональні дані Користувача зберігаються до моменту видалення їх
                        Користувачем.
                    </li>
                    <li class="policy__list-item">Користувач визнає, що достатнім сповіщенням Користувача про
                        видалення або іншу обробку
                        персональних
                        даних буде лист (інформація), направлений на електронну пошту, вказану Користувачем.</li>
                </ul>

                <h3 class="policy__title">VII. Зміни у Політиці конфіденційності</h3>
                <p class="policy__text">
                    Numis може час від часу змінювати або оновлювати цю Політику, тому ми просимо Вас періодично
                    проглядати її. Якщо ви продовжите користуватися Numis після внесення змін до Політики
                    конфіденційності, це означатиме Вашу згоду з такими змінами.
                </p>

                <h3 class="policy__title">VIII. Додаткові умови</h3>
                <p class="policy__text">
                    Адміністрація Numis не несе відповідальності за збиток або збитки, понесені Користувачем або
                    треті
                    особи внаслідок помилкового розуміння або нерозуміння умов цієї Політики конфіденційності,
                    Правил щодо
                    порядку розміщення та використання даних, а також інших технічних питань.
                </p>
                <p class="policy__text">
                    У випадку, якщо будь-яке положення цієї Політики, включно з будь-яким реченням, пунктом або їх
                    частинами, визнається таким, що суперечить закону або недійсним, це не повпливає на всі інші
                    положення,
                    що не суперечать закону: вони залишаються в силі повною мірою та є дійсними, а будь-яке недійсне
                    положення або положення, що не може бути виконано без подальших дій Сторін, вважається зміненим,
                    виправленим тією мірою, у якій це необхідно для забезпечення його дійсності та можливості
                    виконання.
                </p>
                <p class="policy__text">
                    Користувач має права, передбачені чинним законодавством, що регламентує обіг персональних даних.
                </p>
                <p class="policy__text">
                    Ця Політика конфіденційності розповсюджується на Користувача з моменту, коли під час
                    використання
                    Numis він при передаванні своїх персональних даних погодився з умовами цієї Політики та діє
                    доти, доки
                    на Numis зберігається будь-яка інформація про Користувача, зокрема і персональні дані, окрім
                    випадків,
                    коли персональні дані відкликані власником персональних даних, або інших випадків, передбачених
                    чинним
                    законодавством.
                </p>
            </div>
        </div>
    </div>
</div>

