<div th:replace="~{layout::layout(~{::content})}">
  <div th:fragment="content" class="wrapper">
    <div class="rules">
      <div class="container">
        <h2 class="rules__title-main">Правила Numis</h2>
        <ul class="rules__list-menu">
          <li class="rules__list-item-menu">
            <a href="#terms" class="rules_link">Терміни</a>
          </li>
          <li class="rules__list-item-menu">
            <a href="#userrequir" class="rules_link">I.Вимоги до користувачів</a>
          </li>
          <li class="rules__list-item-menu">
            <a href="#sanstions" class="rules_link">II.Штрафні санкції</a>
          </li>
          <li class="rules__list-item-menu">
            <a href="#moderator" class="rules_link">III.Модерація</a>
          </li>
          <li class="rules__list-item-menu">
            <a href="#general" class="rules_link">IV.Загальні вимоги до Користувачів</a>
          </li>
        </ul>

        <h5 class="rules__title" id="terms">Терміни</h5>
        <p class="rules__text">
          <b>Сайт</b> – сукупність даних, електронної (цифрової) інформації, інших об'єктів авторського
          права і (або) суміжних прав і т.п., пов'язаних між собою і структурованих в межах адреси
          violity.com і всіх його піддоменів.
        </p>
        <p class="rules__text">
          <b>Профіль Користувача</b> – сукупність даних, що доступні для ознайомлення з використанням
          функціоналу
          програмно-апаратного комплексу Numis і містять інформацію про Користувача (дату та країну
          реєстрації та іншої інформації Користувача, виключаючи персональні дані).
        </p>
        <p class="rules__text">
          <b>Програмно-апаратний комплекс Numis</b> – це сукупність технічних і програмних засобів,
          призначений
          обробляти (в тому числі автоматично) надані Користувачами сайту дані і забезпечувати їх
          інформацією, необхідною для ведення обліку колекції.
        </p>

        <h5 class="rules__title" id="userrequir">I.Вимоги до користувачів</h5>
        <p class="rules__text">
          <b>Заборонено</b> – передавати особисті дані третім особам, розповсюджувати особисту інформацію.
        </p>
        <p class="rules__text">
          <b>Заборонено</b> – вмішуватись в роботу програмного забезпечення.
        </p>

        <h5 class="rules__title" id="sanstions">II.Штрафні санкції</h5>
        <p class="rules__text">
          <b>Бан</b> – вид санкцій, що накладаються Адміністрацією, в разі допущення Користувачем
          порушення Правил, при якому здійснюється блокування профілю Користувача на термін, передбачений
          даними Правилами.
        </p>
        <p class="rules__text">
          <b>Попередження</b> – вид санкцій, при якому Користувачеві оформляється інформаційне
          повідомлення про порушення Правил або про необхідність здійснення будь-яких дій для недопущення
          (або усунення допущених) порушень Правил.
        </p>

        <h5 class="rules__title" id="moderator">III.Модерація</h5>
        <p class="rules__text">
          <b>Адміністрація має право:</b>
        </p>
        <ul class="rules__list">
          <li class="rules__list-item">
                            <span>редагувати відгуки та коментарі, що містять некоректні висловлювання і особисті
                                дані;</span>
          </li>
          <li class="rules__list-item">
            <span>заблокувати профіль Користувача при порушенні ним даних Правил;</span>
          </li>
          <li class="rules__list-item">
            <span>змінювати термін дії штрафних санкцій;</span>
          </li>
          <li class="rules__list-item">
                            <span>відмовити в верифікації Користувача, платіжних реквізитів та/або поштових даних
                                Користувача;</span>
          </li>
          <li class="rules__list-item">
                            <span>деактивувати профіль Користувача і розірвати з ним подальші ділові відносини за
                                рішенням
                                Адміністрації.
                            </span>
          </li>
        </ul>

        <h5 class="rules__title" id="general">IV.Загальні вимоги до Користувачів</h5>
        <p class="rules__text">
          <b>Користувачі</b> – зареєстровані на сайті Numis є фізичні особи, які досягли віку 18 років, не
          обмежені в право- і дієздатності. Зареєстровані на сайті Numis фізичні особи можуть бути
          уповноваженими представниками суб'єктів господарювання і діяти від імені та в інтересах таких
          суб'єктів господарювання за умови належного підтвердження відповідних повноважень.
          Заборонено одній особі створювати кілька акаунтів/профілів (клонування), а також використовувати
          дані іншого користувача (в тому числі за взаємною домовленістю). При порушенні – безстроковий
          бан профілів-клонам (зареєстрованим пізніше), а також всім профілям, які використовують дані
          іншого Користувача.
          Користувач самостійно забезпечує конфіденційність пароля та несе повну відповідальність за всі
          дії, пов'язані з користуванням своїм акаунтом/профілем, і з метою забезпечення безпеки змінює
          пароль не менше одного разу на рік.
        </p>
      </div>
    </div>
  </div>
</div>



